**/.project
**/.classpath
**/.settings/**
**/bin/**
**/target/**
**/.classpath
**/.settings
**/.project
**/*.orig
**/*.iml
**/*.ipr
**/*.jar
**/*.tar.gz
**/*.sh.swp
**/*.zip
**/*.iws
**/.idea
**/$HOME
**/${log-path}
**/infer-out/**
logs
scripts/*.log
**/.springBeans
**/rd/**
/.metadata/
/.recommenders/
